---
interface Props {
    title: string;
    description: string;
    date?: string;
    category?: string;
    slug: string;
}

const { title, description, date, category, slug } = Astro.props;
---

<a href={`/logs/${slug}`} class="blog-item">
    <div class="blog-meta dim">
        {date && <span>{date}</span>}
        {date && category && <span> // </span>}
        {category && <span>{category}</span>}
    </div>
    <div class="pixel-font blog-title">{title}</div>
    <p>{description}</p>
</a>

<style>
    .blog-item {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 20px;
        border: 1px dashed #444;
        margin-bottom: 15px;
        transition: 0.2s;
        background: rgba(255, 255, 255, 0.02);
    }

    .blog-item:hover {
        border-color: var(--secondary);
        background: rgba(255, 225, 0, 0.05);
    }

    .blog-meta {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    .blog-title {
        font-size: 0.9rem;
        margin: 10px 0;
        color: var(--text);
    }

    .blog-item:hover .blog-title {
        color: var(--secondary);
    }
</style>
